.btn-apply-now {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  /* width: ; */
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  margin-top: 20px;
}
