.box {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
  /* width: 250px;
  height: 190px; */
}

.job-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;

  color: #474747;
}

.job-quantity {
  font-family: "Manrope";
  font-style: normal;

  color: #a3a3a3;
}
