.company-logo{
    background: linear-gradient(
        90deg,
        rgba(126, 144, 254, 0.05) 0%,
        rgba(152, 115, 255, 0.05) 100%
      );
      width: 180px;
      height: 180px;
      border-radius: 8px;
      margin: 7px;

}
.company-logo img{
    margin-left: 11px;
}